// palette colori

$white: #fff;
$black: rgb(35, 36, 39);
$dark: rgb(30, 30, 30);
$green: rgb(112, 246, 179);
$light-green: rgb(86, 251, 183);

$blue: rgb(62, 86, 246);

$open-sans: 'Open Sans', sans-serif;