//Typography
$main-font: 'Montserrat', sans-serif;


@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import 'bootstrap/scss/bootstrap';

// body {
//     overflow-x: hidden;
// }
// general 
#container-navbar {
    height: 10vh;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.093) 0%,rgba(0, 0, 0, 0.091) 50%, rgba(0, 0, 0, 0.023) 100%);
    justify-content: space-around;

    #container-img-navbar img{
        height: 5rem;
    }

    #container-bars {

        height: 5rem;
        width: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 20px 20px 20px 20px;

        &:hover {
            cursor: pointer;

            .my-bar1, .my-bar3 {
                width: 60%;
                transition: 400ms ease-in-out;
            };

            .my-bar2 {
                width: 80%;
                transition: 400ms ease-in-out;
            };
        }

        .my-bar1 {
            width: 80%;
            z-index: 9999;
            background-color: $black;
            height: 3px;
            transition: 400ms ease-in-out;
        }

        .my-bar2 {
            width: 100%;
            z-index: 9999;
            background-color: $black;
            height: 3px;
            transition: 400ms ease-in-out;
        }

        .my-bar3 {
            width: 80%;
            z-index: 9999;
            background-color: $black;
            height: 3px;
            transition: 400ms ease-in-out;
        }
    }
}

.container-option, .wrapper-option, .options{
    display: none;
}

.container-options-open {
    display: block;
    z-index: -1;
    position: absolute;
    height: 80rem;
    width: 80rem;
    border-radius: 100%;
    top: -80rem;
    right: -80rem;
    opacity: 0;
    background-color: $green;
    transition: 400ms ease-in-out;



    .wrapper-option-open {
    display: block;

        position: absolute;
        bottom: 10rem;
        left: 25rem;
        display: flex;
        flex-direction: column;

        .options-open {
    display: block;

            font-size: 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            color: $white;
            border-bottom: 1px solid transparent;
            width: max-content;
            transition: 300ms ease-in-out;

            &:hover {
                border-bottom: 1px solid $white;
                cursor: pointer;
                transition: 300ms ease-in-out;
            }
        }
    }
}

// effects for navbar 
.top-bar {
    transform: rotate(50deg);
    width: 100%;
    transition: 200ms ease-in-out;
}

.bottom-bar {
    transform: rotate(130deg);
    width: 100%;
    transition: 200ms ease-in-out;
}

.bg-white {
    background-color:white;
}

.open-menu{
    position: absolute;
    top: -40rem;
    right: -40rem;
    translate: -40rem, -40rem;
    opacity : 1;
    transition: 400ms ease-in-out;
}




