//Typography
$main-font: 'Montserrat', sans-serif;


@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import 'bootstrap/scss/bootstrap';
// @import url('https://fons.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');


body {
  font-family: $open-sans;
}
#header {
    height: 15vh;
    z-index: 10;
    background-color: $dark;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}
   
   #menu{
     width: 50px;
     height: 30px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     transition: .5s;
     z-index: 10;
     transition: 200ms ease-in-out;


     &:hover {
        padding: 3px;
        transition: 200ms ease-in-out;
        cursor: pointer;
     }
   }
   
   .menu-line1{
     width: 100%;
     height: 3px;
     background: $white;
     transition: .6s;
   }
   
   .menu-line2{
     width: 80%;
     height: 3px;
     margin-top: .7rem;
     background: $white;
     transition: .6s;
   }
   
   .rotate{
     transform: rotateZ(180deg)
   }
   .rotate1{
     background: #212121;
     transform: rotateZ(45deg);
   }
   .rotate2{
     background: #212121;
     width: 100%;
     transform:  translate(0,-0.8rem) rotateZ(-45deg);
   }
   .nav-page1{
     position: fixed ;
     top:0 ;
     left: 0;
     background: whitesmoke;
     width: 60%;
     height: 70vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: #212121;
     transform: translate(0,-100%);
     transition: .5s;
   }
   .nav-page1 span a{
     padding: 1rem;
     font-size: 2rem;
     border-bottom: 1px solid transparent; 
     transition: 300ms ease-in-out;


     &:hover {
        cursor: pointer;
        color: $green;
        border-bottom: 1px solid $green; 
        transition: 300ms ease-in-out;

     }
   }
   .nav-page2{
     position: fixed;
     top:0 ;
     left: 60%;
     background: whitesmoke;
     width: 40%;
     height: 70vh;
     transition: .8s;
     transform: translate(0,-100%);
   }
   
   .transform{
     transform: translate(0,0);
   }

  // buttons

  .my-btn {
    width: max-content;
    padding: 10px;
    border: 1px solid transparent;
    background-color: $light-green;

    &:hover {
        background-color: $dark;
        color: $light-green;
        border: 1px solid $light-green;
        transition: 200ms linear;
    }

    a {
        color: $dark;
        text-decoration: none;
        font-size: 1.5rem;

        &:hover {
            color: $light-green;
            transition: 200ms linear;
        }
    }
}

// general class 
.my-lineheight {
  line-height: 3rem;
}

.my-fs-1 {
  font-size: 4rem;
}

.my-fs-2 {
  font-size: 1.5rem;
}

.my-fs-3 {
  font-size: 2rem;
}





